:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primery-color: #FD6231;
    --border-color: #E1E1E1;
    --gold-color: #FFCE3D;
    
    --header-height-: 120px;
    --navbar-height-: 34px;
    --header-search-width: calc(var(--header-height-) - var(--navbar-height-));
    --header-sort-height: 48px;
}

* {
    box-sizing: inherit;
}

html {
    /* để 1 rem = 10px */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/* Modal */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.1s;
}

.modal__ovarlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;

}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primery-color);
}

.btn.btn--white {
    color: var(--text-color);
    background-color: var(--white-color);
}

/* màu nút vô hiệu hóa */
.btn.btn--disable {
    cursor: default;
    color: #656060;
    background-color: #999;
}

/* Selection */

.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #555;
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__sort {
    display: block;
}

.select-input__sort {
    display: none;
    position: absolute;
    top: calc(100% - 13px);
    left: 0;
    right: 0;
    list-style: none;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 0;
    z-index: 1;
}

.select-input__sort-text:hover a {
    color: var(--primery-color);
    cursor: pointer;
}

.select-input__sort-text a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 12px 12px;
}

/* Paginate(Phân trang) */

.paginate {
    display: flex;
    justify-content: center;
}

.paginate__page {
    margin: 0 15px;
    list-style: none;
}

.paginate__page-active .paginate__page-link {
    background-color: var(--primery-color);
    color: var(--white-color);
}

.paginate__page-active .paginate__page-link:hover {
    opacity: 0.9;
}

.paginate__page-link {
    --height: 30px;
    display: block;
    text-align: center;
    line-height: var(--height);
    height: var(--height);
    color: #939393;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    min-width: 40px;
}
